
.btn{
	background: white;
	margin-bottom:0;
	font-weight:400;
	text-align:center;
	border: 1px solid #888888;
	font-family: fantasy;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143;
	border-radius:4px;
	-webkit-transition: background-color 0.2s, margin-top 0.2s, margin-bottom 0.2s;  /* Saf3.2+, Chrome */
    -moz-transition: background-color 0.2s, margin-top 0.2s, margin-bottom 0.2s;  /* FF4+ */
    -ms-transition: background-color 0.2s, margin-top 0.2s, margin-bottom 0.2s;  /* IE10 */
    -o-transition: background-color 0.2s, margin-top 0.2s, margin-bottom 0.2s;  /* Opera 10.5+ */
    transition: background-color 0.2s, margin-top 0.2s, margin-bottom 0.2s;
}
.btn:hover {
	background: #FFD204;
}
a.prev_button {
	position: absolute;
	width: 41px;
	height: 40px;
	cursor: pointer;
	margin-top: -20px;
	top: 10%;
	background: transparent url(../images/buttons.png) no-repeat 0px -40px;
}
.recipe {
	width: 90%;
	text-align: left;
	height:40px;
/* 	border: 1px solid #888888; */
	margin-top: 10px;	
	font-family: fantasy;
	font-size:17 px;
	pointer-events: all;
	-webkit-transition: background-color 0.2s, margin-top 0.2s, margin-bottom 0.2s;  /* Saf3.2+, Chrome */
    -moz-transition: background-color 0.2s, margin-top 0.2s, margin-bottom 0.2s;  /* FF4+ */
    -ms-transition: background-color 0.2s, margin-top 0.2s, margin-bottom 0.2s;  /* IE10 */
    -o-transition: background-color 0.2s, margin-top 0.2s, margin-bottom 0.2s;  /* Opera 10.5+ */
    transition: background-color 0.2s, margin-top 0.2s, margin-bottom 0.2s;
}
.recipe p {
	font-family: fantasy;
	font-size:20 px;
	margin-top: 3px;	
	margin-bottom: 3px;	
}
.facebookframe {
	width: 100%;
	display: block;
	text-align: right;
}

.recipe:hover {
	background-color: #FFD204;
}

.recipe_title {
	margin-top: 20px;
	font-family: fantasy;
	font-size: 27px;
}

.recipe_embed_class {
	font-family: fantasy;
}